.card-section {
  height: auto;
  width: 780px;

  background-color: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  color: #222;
  display: block;
  line-height: 17.3333px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 24px;
  zoom: 1;

  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#card-msg {
  font-size: 22px;
  font-weight: 100;

  line-height: 120%;

  color: #878787 !important;

  display: block;
  text-align: center;

  margin-top: 10px;
  margin-bottom: 10px;

  height: auto;
}

#card-tables {
  margin-top: 5px;
}

#card-tables table {
  margin-top: 25px;

}

#card-tables table thead th {
  font-weight: bold;

  text-transform: uppercase;
  text-align: center;
}

#card-tables table tbody th {
  font-weight: lighter;

  text-transform: capitalize;
  text-align: center;
}
